extends layout

block content
  h1 Name: #{item.name}

  //- p #[strong Author: ]
    a(href=item.author.url) #{item.author.name}
  //- p #[strong Summary:] #{item.summary}
  //- p #[strong ISBN:] #{item.isbn}
  p #[strong Category: ]
    each val, index in item.category
      a(href=val.url) #{val.name}
      if index < item.category.length - 1
        |,&nbsp;

  hr
  p 
    a(href=item.url+'/delete') Delete item
  p
    a(href=item.url+'/update') Update Book